LK_TESTTests/Service References/WcfServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LK_TEST.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LK_TEST.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdvertisingOptIn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountryIsoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="UserNotFound">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotFound" nillable="true" type="tns:UserNotFound" />
</xs:schema>